.component-1-child {
    position: relative;
    border-radius: var(--br-xl);
    width: 390px;
    height: 625px;
    object-fit: cover;
  }
  .span {
    color: var(--color-black);
  }
  .hi-im1 {
    font-weight: 600;
  }
  .hi-im {
    margin: 0;
  }
  .akshi-jain {
    margin: -10px;
    font-size: 96px;
    color: var(--color-steelblue-100);
  }
  .hi-im-akshi-container {
    position: relative;
    line-height: 150.1%;
    display: inline-block;
    width: 525px;
    height: 180px;
    flex-shrink: 0;
    font-size: 67px;
    color: #333;
  }
  .uiux-designer {
    position: relative;
    font-size: 35px;
    line-height: 117.1%;
    font-weight: 600;
  }
  .im-a-dedicated {
    position: relative;
    line-height: 49px;
    font-weight: 500;
    display: inline-block;
    width: 594px;
  }
  .media-child,
  .media-item {
    position: relative;
    width: 50px;
    height: 51px;
    object-fit: cover;
  }
  .media-item {
    height: 50px;
  }
  .resume-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-steelblue-100);
    width: 130px;
    height: 44px;
  }
  .resume1 {
    position: absolute;
    top: 9.5px;
    left: 19px;
    text-decoration: underline;
    line-height: 117.1%;
    color: inherit;
    text-decoration: none;
  
  }
  .resume {
    position: relative;
    width: 130px;
    height: 50px;
  }
  .media {
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-23xl);
    color: var(--color-white);
  }
  .component-1,
  .hi-im-akshi-jain-parent,
  .media {
    display: flex;
    justify-content: flex-start;
  }
  .hi-im-akshi-jain-parent {
    height: 618px;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
  }
  .component-1 {
    position: absolute;
    top: calc(45% - 313px);
    left: calc(50% - 525px);
    flex-direction: row;
    align-items: center;
    gap: 60px;
  
  }
  .header {
    position: absolute;
    width: calc(100% - 230px);
    top: 195px;
    right: 110px;
    left: 120px;
    height: 626px;
    font-size: var(--font-size-3xl);
  }
  .work-child {
    position: absolute;
    top: 18px;
    left: -0.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 421px;
    height: 1px;
  }
  .work2 {
    position: absolute;
    top: 0;
    left: 467px;
    line-height: 117.1%;
  }
  .work-item {
    position: absolute;
    top: 18px;
    left: 599.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 451px;
    height: 1px;
  }
  .project-1-child {
    position: relative;
    width: 420px;
    height: 492px;
    object-fit: cover;
    z-index: 0;
  }
  .project-1-item,
  .project-11 {
    position: absolute;
    margin: 0 !important;
  }
  .project-1-item {
    top: 390px;
    left: 0;
    background-color: var(--color-whitesmoke);
    width: 420px;
    height: 102px;
    z-index: 1;
  }
  .project-11 {
    top: 420px;
    left: 30px;
    line-height: 117.1%;
    z-index: 2;
  }
  .project-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .project-21 {
    position: absolute;
    margin: 0 !important;
    top: 422px;
    left: 30px;
    line-height: 117.1%;
    z-index: 2;
  }
  .projects {
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 120px;
    color: var(--color-black);
  }
  .view-more-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-steelblue-100);
    width: 307px;
    height: 79px;
   
  }
  .view-more1 {
    position: absolute;
    top: 21px;
    left: 75px;
    text-decoration: underline;
    line-height: 117.1%;
    color: inherit;
    text-decoration: none;
  }
  .resume1:hover,
  .view-more1:hover{
    color: black;
  }
  .view-more {
    position: relative;
    width: 307px;
    height: 79px;
    color: var(--color-white);
  }
  .work {
    position: absolute;
    top: 912px;
    left: calc(50% - 520px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 74px;
  }
  .skills-list-child {
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    width: 990px;
    height: 487px;
    z-index: 0;
  }
  .skill1-child {
    position: relative;
    border-radius: 0%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .skill-1 {
    position: relative;
    line-height: 117.1%;
  }
  .skill1 {
    margin: 0 !important;
    position: absolute;
    top: 37px;
    left: 58px;
    align-items: center;
    gap: var(--gap-4xl);
    z-index: 1;
  }
  .skill1,
  .skill2,
  .skill4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skill4 {
    margin: 0 !important;
    position: absolute;
    top: 287px;
    left: 53px;
    align-items: center;
    gap: var(--gap-4xl);
    z-index: 2;
  }
  .skill2 {
    top: 37px;
    left: 438px;
    z-index: 3;
  }
  .skill2,
  .skill3,
  .skill5,
  .skill6 {
    margin: 0 !important;
    position: absolute;
    align-items: center;
    gap: var(--gap-4xl);
  }
  .skill5 {
    top: 287px;
    left: 438px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 4;
  }
  .skill3,
  .skill6 {
    left: 819px;
  }
  .skill3 {
    top: 37px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5;
  }
  .skill6 {
    top: 287px;
    z-index: 6;
  }
  .skill6,
  .skills,
  .skills-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-list {
    align-items: flex-start;
    position: relative;
    gap: var(--gap-3xs);
    color: var(--color-black);
    left: calc(49% - 520px);
  }
  .skills {
    position: absolute;
    top: 2370px;
    left: calc(49% - 520px);
    align-items: center;
    gap: 76px;
  }
  .software-child {
    position: absolute;
    top: 17.5px;
    left: 0;
    width: 392px;
    height: 1.47px;
  }
  .softwares {
    position: absolute;
    top: 0;
    left: 446px;
    line-height: 117.1%;
  }
  .software-item {
    position: absolute;
    top: 17.5px;
    left: 663px;
    width: 387px;
    height: 1.5px;
  }
  .skills-list-item {
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-whitesmoke);
    width: 1025px;
    height: 487px;
    z-index: 0;
  }
  .skills-list1,
  .software {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-list1 {
    width: 1025px;
    align-items: flex-start;
    position: relative;
    gap: var(--gap-3xs);
    color: var(--color-black);
  }
  .software {
    position: absolute;
    top: 3060px;
    left: calc(50% - 520px);
    align-items: center;
    gap: 83px;
  }
  .experience-head-child {
    position: absolute;
    top: 17.5px;
    left: 0;
    width: 389px;
    height: 1.5px;
  }
  .experience1 {
    position: absolute;
    top: 0;
    left: 435px;
    line-height: 117.1%;
  }
  .experience-head-item {
    position: absolute;
    top: 17.5px;
    left: 660px;
    width: 390px;
    height: 1.5px;
  }
  .experience-head,
  .gateway-child {
    position: relative;
    width: 1050px;
    height: 37px;
  }
  .gateway-child {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 434px;
    height: 420px;
    z-index: 0;
  }
  .feb-2023- {
    line-height: 45px;
    font-weight: 500;
    color: var(--color-gray-200);
    width: 345px;
    height: 48px;
    flex-shrink: 0;
  }
  .feb-2023-,
  .gateway-international,
  .i-have-learn {
    position: relative;
    display: inline-block;
  }
  .gateway-international {
    font-size: var(--font-size-11xl);
    line-height: 45px;
    font-weight: 500;
    width: 419px;
    height: 48px;
    flex-shrink: 0;
  }
  .i-have-learn {
    font-size: var(--font-size-xl);
    line-height: 34px;
    color: var(--color-gray-100);
    text-align: justify;
    width: 393px;
  }
  .gateway,
  .gateway-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gateway-text {
    margin: 0 !important;
    top: 31px;
    left: 15px;
    gap: var(--gap-lgi);
    z-index: 1;
  }
  .gateway {
    top: 0;
    left: 0;
    gap: var(--gap-3xs);
  }
  .freelancer {
    position: relative;
    font-size: var(--font-size-5xl);
    line-height: 45px;
    display: inline-block;
    width: 260px;
    height: 30px;
    flex-shrink: 0;
  }
  .gateway1,
  .gateway2 {
    position: absolute;
    top: 420px;
    left: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .gateway2 {
    top: 859px;
    left: 0;
  }
  .timeline-icon {
    position: absolute;
    top: 33px;
    left: 434px;
    width: 166px;
    height: 888px;
  }
  .experience-text {
    position: relative;
    width: 1034px;
    height: 1279px;
    font-size: var(--font-size-6xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .experience {
    position: absolute;
    top: 3757px;
    left: calc(50% - 520px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 106px;
  }
  .contact-child {
    position: relative;
    background-color: rgba(255, 255, 255, 0.699);
    width: 1398px;
    height: 676px;
    z-index: 0;
  }
  .contact-item {
    position: absolute;
    margin: 0 !important;
    top: 60px;
    left: 180px;
    border-radius: var(--br-xl);
    width: 450px;
    height: 488px;
    object-fit: cover;
    z-index: 1;
  }
  .contact1 {
    position: relative;
    line-height: 117.1%;
    font-weight: 600;
  }
  .div,
  .image-44-icon {
    position: absolute;
    top: 0;
  }
  .image-44-icon {
    left: 0;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .div {
    right: 180px;
    display: inline-block;
    width: 265px;
  }
  .image-45-icon {
    position: absolute;
    top: 77px;
    left: 0;
    width: 30px;
    height: 24px;
    object-fit: cover;
  }
  .akshi20jain03gmailcom,
  .udaipurrajasthan {
    position: absolute;
    top: 65px;
    right: 0;
    display: inline-block;
    width: 450px;
  }
  .udaipurrajasthan {
    top: 145px;
    right: 180px;
    width: 265px;
  }
  .image-48-icon {
    position: absolute;
    top: 148px;
    left: 4px;
    width: 21px;
    height: 30px;
    object-fit: cover;
  }
  .con-details {
    position: relative;
    width: 511px;
    height: 181px;
    top: -50px;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .contact-text {
    margin: 0 !important;
    top: 100px;
    left: 720px;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    z-index: 2;
  }
  .contact,
  .contact-text,
  .media1 {
    position: absolute;
    display: flex;
    justify-content: flex-start;
  }
  .media1 {
    margin: 0 !important;
    top: 400px;
    left: 790px;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-23xl);
    z-index: 3;
  }
  .contact {
    top: 5220px;
    left: calc(50% - 699px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
    font-size: 64px;
    color: #0d0d0d;
  }
  .navbar,
  .portfolio {
    background-color: var(--color-white);
    overflow: hidden;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: calc(50% - 699px);
    display: flex;
    flex-direction: row;
    padding: 26px 289px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 127px;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    width: 100%;
    background-color: #f6f6f6; /* Adjust as needed */
    color: rgb(8, 8, 8); /* Adjust text color as needed */
 
    z-index: 1000;
    
  }
  .portfolio {
    position: relative;
    width: 100%;
    height: 5896px;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
    font-family: var(--font-montserrat);
  }
 
  .skill-1 a:hover {
    color: rgb(16, 103, 161);
}
/* .skill-1 a {
  color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
} */
.skill-1 a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.skill-1::before {
    content: "";
    position: absolute;
 
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(16, 103, 161); /* Change this to your desired color */
    transition: width 0.3s ease;
    
}

.skill-1:hover::before {
    width: 100%;
   
}
html {
    scroll-behavior: smooth;
}

/* Basic responsiveness for smaller screens */
@media (max-width: 768px) {
    .component-1 {
      flex-direction: column;
      align-items: center;
      left: calc(50% - 50%);
      /* Adjust other styles as needed */
    }
    .hi-im-akshi-jain-parent {
      align-items: center;
      /* Adjust other styles as needed */
    }
    /* ... more media queries for other elements */
  
  
    .navbar {
        background-color: #222;
        color: white;
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
  .navbar-item {
    text-align: center;
    width: 100%;
  }
  .work {
    top: 1500px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  .work-child,
  .work-item {
    position: relative;
    top: auto;
    left: auto;
    border: none;
    width: 100%;
    box-sizing: content-box;
  }

  .work2 {
    position: relative;
    left: auto;
    text-align: center;
  }
  .projects {
    flex-direction: column;
    gap: 40px; /* Adjust the gap between projects for smaller screens */
  }

  .project-1,
  .project-21 {
    gap: var(--gap-xs); /* Adjust the gap between project components for smaller screens */
  }
  .skills-list {
    left: 50%; /* Center skills list on smaller screens */
    transform: translateX(-50%);
    align-items: center;
  }

  .skills {
    top: 2050px; /* Adjust the top position for smaller screens */
    gap: 40px; /* Adjust the gap between skills for smaller screens */
  }

  .skill1,
  .skill2,
  .skill3,
  .skill4,
  .skill5,
  .skill6 {
    flex-direction: column; /* Arrange skill icon and text side by side */
    gap: 20px; /* Adjust the gap between skill icon and text */
    text-align: center; /* Center skill text */
    align-items: center; /* Center items vertically */
  }
  .skills-list-child {
    padding: 10px; /* Adjust padding for smaller screens */
    flex-direction: column;
  }
}









  